body {
    text-align: center;
    background-color: gold;
}

.li {
    background-color: black;
}

.ul {
    z-index: 0;
    background-color: silver
}

.li:hover {
    color: chocolate
}
